body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    background-color: #f5f5f5;
    color: #333;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-size: 16px;
    resize: none;
}

button {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0056b3;
}

#wordStats {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-height: 300px; /* Установите максимальную высоту */
    overflow-y: auto; /* Включите вертикальный скролл, когда содержимое превышает максимальную высоту */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
}

li:last-child {
    border-bottom: none;
}

#frequencyStats{
  
  margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-height: 300px; /* Установите максимальную высоту */
    overflow-y: auto; 
  
}